footer{
    background-color: #161616;
    display: block;
    padding: 28px;
    bottom: 0;
    box-shadow: 0px -7px 17px -4px rgba(0,0,0,0.7);
}

.footer-top{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-contact ul li a i{
    width: 36px;
    height: auto;
    color: #fff;
    justify-content: space-around;
    text-align: center;
}

.footer-contact ul li a i:hover{
    color: #D80000;
}

.footer-contact ul{
    display: flex;
}

.footer-bottom small{
    color: rgba(255, 255, 255, 0.418);
    text-align: center;
    display: block;
}

hr{
    border: 1px solid rgba(255, 255, 255, 0.123);
}

.footer-logo img{
    width: 128px;
    height: auto;
}

footer ul li a{
    color: #fff;
}

footer h4{
    color: #D80000;
}

    .get-in-touch{
        display: flex;
        justify-content: space-around;
        align-items: center;

    }


@media screen and (max-width: 600px){

    .footer-top{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .footer-top div{
        margin: 16px;
    }

}